@tailwind base;
@tailwind components;
@tailwind utilities;
html, body {
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

#root, #__next {
    height: 100%;
    width: 100%;
}

.selected-cell {
    background-color: rgba(226, 120, 91, 0.5);
}


.editable-row {
    background-color: white;
}

.uneditable-row {
    background-color: #f0f0f0; /* Light gray color */
    pointer-events: none; /* Disable interaction */
    opacity: 0.6; /* Make it look disabled */
}

label:after {
    content: "\00a0%";
    visibility: hidden;
}

.table-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-input {
    width: 100%;
    box-sizing: border-box;
}

.custom-range {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background: #e2785b;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
    border-radius: 10px;
}

.custom-range:hover {
    opacity: 1;
}

.custom-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: #e2785b;
    border-radius: 50%;
    cursor: pointer;
}

.custom-range::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: #e2785b;
    cursor: pointer;
}

.yellow-row {
    background-color: rgba(244, 208, 63, 0.5);
}

.blue-row {
    background-color: rgba(31, 97, 141, 0.5);
}

.MuiDataGrid-row:hover {
    background-color: inherit !important;
}

.MuiDataGrid-row.Mui-selected {
    background-color: inherit !important;
}

.MuiDataGrid-row.Mui-selected:hover {
    background-color: inherit !important;
}